.padding{
  margin: 0 26.4% 500px 26.3%;
}
.titleLine{
  border-color: red;
  border-width: 1px 0 0 0;
}
.titleMain{
  height: 43px;
  margin: 0 0 30px;
  font-family: SegoeUI;
  font-size: 32px;
  line-height: 1.34;
  letter-spacing: 0.32px;
  text-align: center;
  color: #000000;
}
.looginKakao{
  width: 902px;
  height: 90px;
  border-radius: 12px;
  background-color: #fee500;
  text-align: center;

  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.45;
  color: #000000;
  background-image: url("/images/kakao.PNG");
}
.looginNaver{
  width: 900px;
  height: 90px;
  margin: 20px 0 20px;
  border-radius: 12px;
  background-color: #1ec800;
  text-align: center;

  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.45;
  color: #ffffff;
  background-image: url("/images/naver.ICO");
}
.loginFacebook{
  width: 900px;
  height: 90px;
  border-radius: 12px;
  border: solid 1px #707070;
  background-color: #204782;
  text-align: center;

  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.45;
  color: #ffffff;
  background-image: url("/images/fb.PNG") ;
}