.eventMargin{
    height: 600px;
    margin: 0 13% 0 12.5%;
}
.eventTitle{
    width: 99px;
    height: 38px;
    margin: 140px 0 40px 0;
    padding-left: 53px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}
.eventImagesBox{
    clear: both;
}
.eventImageFirst{
    width: 645px;
    height: 350px;
    margin-left: 53px;
    border: solid 1px #707070;
    background-color: #6b6b6b;
    float: left;
}
.eventImage{
    width: 645px;
    height: 350px;
    margin-left: 30px;
    border: solid 1px #707070;
    background-color: #6b6b6b;
    float: left;
}