.category {
  height: 100px;
  padding: 37px 29% 36px 29%;
  background-color: #dbdbdb;
  display: block;
}
.categoryUl{
  clear: both;
}
.categoryLiFirst{
  float: left;
  font-family: NotoSansCJKKR;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}
.categoryLi{
  padding-left: 16%;
  float: left;
  font-family: NotoSansCJKKR;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}
